.SquareRangeField {
  height: 300px;
  width: 300px;

  border: 1px solid blue;
  border-radius: 50px;

  position: relative;
}

.SquareRangeDial {
  position: absolute;

  height: 100px;
  width: 100px;

  border-radius: 50px;
  background: red;
}
